/*****************************************************************
This stylesheet is for the stack chart
********************************************************************/

html {margin: 0; padding: 0;}
body {margin: 0; padding: 0; font-family: verdana, sans-serif; font-size: 80%;
           background: #ee8 repeat-y url(images/browncol.gif);}
            /*** Image is 180px wide, and 20px high ***/
pre {margin: 0; font-family: verdana, sans-serif; font-size: .9em;}

a:
{
	text-decoration: underline;
	color: blue;
}
a:hover
{
	color:#9933FF;
	text-decoration: underline;
}
a:visited
{
	
	color: blue;
}
.alignright {margin-top: 0; text-align: right;}
.small {font-size: .9em;}
.return {position: absolute; top: 0; right: 0; text-align: right; padding: .5em;}
/*******************************************************************************
                       Positioning rules
*******************************************************************************/
h1 {
margin: 0;
border-top: 4px solid #000;
background-color: #990033;    /*** The header and footer have backgrounds, to cover the 2-tone body BG  ***/
border-bottom: 5px solid #000;
}
h2, h4 {
font-size: 30px;
margin: 0;
color:white;
border-top: 4px solid #000;
background-color: #990033;    /*** The header and footer have backgrounds, to cover the 2-tone body BG  ***/
border-bottom: 5px solid #000;
}

h3 {
color:white;
font-size: 30px;
background-color: #990033;    /*** The header and footer have backgrounds, to cover the 2-tone body BG  ***/
margin: 0;
}

h5 {
margin: 0;
color: blue;
}

#lifoot
{
    
    background-color: #DDDDDD
}

